@use './colors' as *;
@use './mixins' as *;


@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MerriweatherSans-Bold';
    src: url('../fonts/MerriweatherSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MerriweatherSans-regular';
    src: url('../fonts/MerriweatherSans-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PassionOne-Regular';
    src: url('../fonts/PassionOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	background-color: $white;
	font-size: 14px;
    font-family: 'Poppins-Regular', sans-serif;
    color: $black;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.wrapper {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 20px;
}

