@use './colors' as *;
@use './mixins' as *;
@use './layout/assets' as *;
@use './vendors/splide' as *;
@use './layout/nav' as *;
@use './layout/header' as *;
@use './layout/footer' as *;
@use './pages/404' as *;
@use './pages/rules-privacy-policy' as *;
@use './pages/contact-page' as *;
@use './pages/price-offer' as *;
@use './pages/aboutme' as *;
@use './pages/physiotheraphy' as *;
@use './pages/individual-inserts' as *;
@use './pages/integration' as *;
@use './pages/main-page' as *;
@use './base' as *;


@media (min-width: 576px) {} /*telefony*/
@media (min-width: 768px) {} /*tablety*/
@media (min-width: 992px) {} /*desktopy*/