@use '../colors' as *;
@use '../mixins' as *;

.integration {
	@include ptb100;
	overflow: hidden;

	&__offer-main {
		padding: 0;
	}

	&__slide {
		&:hover {
			background-color: $green;
			border: 2px solid $green;
		}
	}

	&__splide-list {
		@media (min-width: 1304px) {
			display: flex;
			justify-content: center;
		}
	}
}

.senso1 {
	@include ptb90;

	&__point {
		font-weight: 500;
	}

	&__txt-item {
		margin-top: 20px;
	}

	&__h3 {
		margin-bottom: 20px;
	}
}

.regular {
	@include ptb90;
	@include mt90;
	background-color: $green;
	position: relative;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 60px;

		@media (max-width: 992px) {
			flex-direction: column-reverse;
			gap: 30px;
		}
	}

	&__img {
		border-radius: 8px;
	}

	&__h2 {
		margin-bottom: 20px;
	}

	&__point {
		margin-bottom: 10px;
		font-weight: 500;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.integration-boxes {
	@include mt90;

	&__ul {
		padding-left: 20px;
	}

	&__li {
		margin-bottom: 6px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.senso {
	padding: 0;

	&__h3 {
		padding-left: 28px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 1px;
			width: 22px;
			height: 22px;
			background-image: url('../img/icons/arrow-right-advantages.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	ul {
		margin-bottom: 20px;
	}

	&__box-txt-img {
		gap: 130px;

		@media (max-width: 992px) {
			gap: 30px;
		}
	}
}

.int-box-img {
	@include mt90;

	&__txt {
		padding: 30px;
		border-radius: 8px;
		border: 1px solid $blue-dark;
	}

	&__h3 {
		margin-bottom: 30px;
		font-size: 20px;

		&--quote {
			padding: 50px 0 50px 35px;
			position: relative;
			margin-bottom: 0;

			@media (max-width: 768px) {
				font-size: 18px;
				padding: 30px 0 30px 30px;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 53px;
				width: 22px;
				height: 19px;
				background-image: url('../img/icons/quote-left.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;

				@media (max-width: 768px) {
					top: 33px;
				}
			}
		}
	}

	&__mb50 {
		margin-bottom: 50px;
	}

	&__dobuble-boxes-container {
		display: flex;
		align-items: stretch;
		gap: 24px;

		@media (max-width: 992px) {
			flex-direction: column;
			gap: 24px;
		}
	}

	&__double-boxes {
		display: flex;
		flex-direction: column;
		gap: 24px;
		flex: 1 0 0;
	}

	&__first-box {
		flex: 1 0 0;
	}

   &__display {
      justify-content: space-between
   }
}

.lummic {
	@include mt90;
	@include ptb90;
	background-color: $brown;
	position: relative;

	&__box-mt50 {
		margin-top: 50px;
	}

	&__box-mt160 {
		margin-top: 160px;

		@media (max-width: 992px) {
			margin-top: 100px;
		}
	}

	&__txt-mt20 {
		margin-top: 20px;
	}
}

.soundsory {
   @include pt90;

   &__advantages {
      @include mb90;
   }
}