@use '../colors' as *;
@use '../mixins' as *;

.physio {
	@include ptb100;
}

.physio-tech {
	@include pt90;

	@media (max-width: 1200px) {
		position: relative;
		overflow: visible;
	}

	&__splide {
		@media (max-width: 1200px) {
			// width: 100vw;
			// position: relative;
			// left: 50%;
			// right: 50%;
			// margin-left: -50vw;
			// margin-right: -50vw;
			width: 100vw;
			max-width: none;
			margin-left: calc(50% - 50vw); /* wyrównuje do lewej krawędzi ekranu */
			padding-left: calc(50vw - 600px); /* POZWALA wrócić do wrappera po lewej */
		}
	}

	&__box {
		position: relative;
	}

	&__sygnet {
		position: absolute;
		bottom: 16px;
		right: 16px;
		width: 20px;
		height: 35px;

		@media (max-width: 768px) {
			bottom: 5px;
			right: 5px;
			width: 14px;
			height: 25px;
		}
	}

	&__slider {
		margin-bottom: 40px !important;
	}

	&__list {
		@media (max-width: 1200px) {
			cursor: grab;
		}

		@media (min-width: 1200px) {
			display: grid !important;
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: auto;
			gap: 40px;
		}
	}
}

.physio-blue-section {
	@include ptb90;
	@include mt90;
	background-color: $blue-dark;
	position: relative;
	color: $white;

	@media (max-width: 1200px) {
		position: relative;
		overflow: visible;
	}

	&__splide {
		@media (max-width: 1200px) {
			// width: 100vw;
			// position: relative;
			// left: 50%;
			// right: 50%;
			// margin-left: -50vw;
			// margin-right: -50vw;
			width: 100vw;
			max-width: none;
			margin-left: calc(50% - 50vw); /* wyrównuje do lewej krawędzi ekranu */
			padding-left: calc(50vw - 600px); /* POZWALA wrócić do wrappera po lewej */
		}
	}

	&__h2 {
		color: $white;
	}

	&__text {
		@include text;
		color: $white;
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__space {
		@include mt90;
	}

	&__box {
		border: 1px solid $white;

		h3,
		p,
		li {
			color: $white;
		}

		ul {
			padding-left: 25px;
		}

		li {
			margin-bottom: 6px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__slider {
		margin-top: 50px !important;
	}

	&__list {
		@media (max-width: 1200px) {
			cursor: grab;
		}

		@media (min-width: 1200px) {
			display: grid !important;
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: auto;
			gap: 40px;
		}
	}
}

.physio-kids {
	@include pt90;

	//obsluga slidera aby dorownal do krawedzi ekranu

	@media (max-width: 1200px) {
		position: relative;
		overflow: visible;
	}

	&__splide {
		@media (max-width: 1200px) {
			// width: 100vw;
			// position: relative;
			// left: 50%;
			// right: 50%;
			// margin-left: -50vw;
			// margin-right: -50vw;
			width: 100vw;
			max-width: none;
			margin-left: calc(50% - 50vw); /* wyrównuje do lewej krawędzi ekranu */
			padding-left: calc(50vw - 600px); /* POZWALA wrócić do wrappera po lewej */
		}
	}

	//END -- obsluga slidera aby dorownal do krawedzi ekranu

	&__text {
		@include text;
		margin-bottom: 20px;
		color: $black;
	}

	ul {
		padding-left: 25px;
		color: $black;
	}

	li {
		margin-bottom: 6px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__box {
		h3,
		p,
		li {
			color: $black;
		}

		ul {
			padding-left: 25px;
		}

		li {
			margin-bottom: 6px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__slider {
		margin-top: 50px !important;
	}

	&__list {
		@media (max-width: 1200px) {
			cursor: grab;
		}

		@media (min-width: 1200px) {
			display: grid !important;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: auto;
			gap: 40px;
		}
	}
}
