@use '../colors' as *;
@use '../mixins' as *;

.footer {
	position: relative;
	background-color: $blue-darkest;
}

.footer-box {
	@include ptb90;
	display: flex;
	flex-direction: column;

	&__bottom-inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 60px;

		@media (max-width: 784px) {
			gap: 14px;
			flex-direction: column;
		}
	}

	&__bottom {
		padding: 20px 0;
		color: $white-gray;
		font-size: 12px;
		border-top: 1px solid $white-gray;
		font-weight: 400;
	}

	&__bottom-create-by-link {
		text-decoration: none;
		color: $white;
		transition: all 0.3s ease;

		&:hover {
			color: $white-gray;
		}
	}

	&__top {
		display: grid;
		grid-template-columns: 1fr;
		gap: 70px;
		align-items: start;
		color: $white;

		@media (min-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 80px 0px;
		}

		@media (min-width: 1000px) {
			grid-template-columns: repeat(4, 1fr);
			gap: 80px;
		}
	}

	&__box1-logo-link {
		margin-bottom: 20px;
		display: inline-block;
	}

	&__company-data {
		max-width: 147px;
		font-weight: 500;
	}
	
	&__company-data-text {
		@include text;
		font-size: 12px;
		text-decoration: none;
		display: inline-block;
		margin-bottom: 4px;
		color: $blue-dark;
		color: $white;
	}

	&__company-data-text-link {
		display: inline-block;
		text-decoration: none;
		transition: all 0.3s ease;

		&:first-of-type {
			margin-top: 18px;
		}

		&:hover {
			color: $blue-dark;
		}
	}

	&__h3 {
		margin-bottom: 38px;
		@include header-footer-menu;

		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	&__box-inner {
		font-weight: 400;

		.menu {
			list-style: none;
		}

		.menu-item a {
			text-decoration: none;
			color: $white;
			margin-bottom: 9px;
			display: inline-block;
			transition: all 0.3s ease;
			font-weight: 400;
			font-size: 12px;

			&:hover {
				color: $blue-dark;
			}
		}
	}

	.current-menu-item a {
		color: $blue-dark;
	}

	&__map-desktop {
		border-radius: 8px;

		@media (max-width: 1148px) {
			width: 400px;
		}

		@media (max-width: 1000px) {
			width: 280px;
		}

		@media (max-width: 330px) {
			width: 250px;
		}
	}

	&__box1 {
		position: relative;
		z-index: 1;

		&::after {
			content: '';
			position: absolute;
			width: 2000px;
			height: 120%;
			background-color: $white;
			border-radius: 450px;
			top: -20px;
			right: -55px;
			z-index: -1;
			background-color: rgba(69, 123, 167, 1);
			background-image: linear-gradient(38deg, rgba(69, 123, 167, 1) 70%, rgba(255, 255, 255, 1) 110%);

			@media (max-width: 1266px){
				top: -20px;
				right: -65px;
				height: 120%;
			}

			@media (max-width: 1000px){
				top: -20px;
				right: 200px;
				height: 120%;
			}

			@media (max-width: 900px){
				top: -20px;
				right: 50px;
				height: 120%;
			}

			@media (max-width: 650px){
				top: -20px;
				right: 20px;
				height: 120%;
			}
		}
	}
}
