@use './colors' as *;
@use './mixins' as *;

// Header for main page

.header-index {
   position: relative;
   background-image: url('/dist/img/Header.jpg');
   width: 100%;
   height: 655px;
   background-size: cover;
   background-position: center;
}

.btn-desktop-header {
   margin-left: 22px;
}

.wrapper-header-index {
   height: 100%;
}

.header-index-inner {
   position: relative;
   
   &__box {
      position: absolute;
      padding: 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,92%);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 621px;

      @media (max-width: 900px) {
         transform: translate(-50%,80%);
      }

      @media (max-width: 856px) {
         transform: translate(-50%,60%);
      }
   }

   &__h1 {
      color: $white;
      @include h1;
   }

   &__text {
      margin-top: 10px;
      @include text;
   }

   &__btn {
      margin-top: 30px;

   }
}


// Header for other pages:

.header-pages {
   position: relative;
   background-image: url("/dist/img/Header.jpg");
   background-size: cover;
   background-position: 50% 70%;
   background-repeat: no-repeat;
   width: 100%;
   height: 260px;
}

.header-pages-box {
   width: 100%;
   height: 280px;
   display: flex;
   flex-direction: column;

   &__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;

      @media (max-width: 440px) {
         justify-content: flex-end;
         margin-bottom: 18px;
         
      }

      	@media (max-width: 363px) {
            margin-bottom: 10px;
         }
   }

   &__height-of-nav {
      height: 97px;
      width: 100%;
   }
}