@use '../colors' as *;
@use '../mixins' as *;

// podkreslenie aktywnej strony w menu
.current_page_item,
.current_page_ancestor {
	color: $blue-dark;
}

.navigation-container {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	transition: transform 0.3s ease;
	width: 100%;
	// height: 98px;
	box-shadow: 0 1px 5px -3px #000;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.8) 23%,
		rgba(69, 123, 167, 0.75) 31%,
		rgba(69, 123, 167, 0.95) 70%
	);

	@media (max-width: 992px) {
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.8) 27%,
			rgba(69, 123, 167, 0.75) 36%,
			rgba(69, 123, 167, 0.95) 70%
		);
	}

	@media (max-width: 768px) {
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.8) 34%,
			rgba(69, 123, 167, 0.75) 45%,
			rgba(69, 123, 167, 0.95) 70%
		);
	}

	@media (max-width: 576px) {
		background: linear-gradient(
			90deg,
			hsla(0, 0%, 100%, 0.8) 49%,
			rgba(69, 123, 167, 0.75) 78%,
			rgba(69, 123, 167, 0.95) 85%
		);
	}

	&__social-box {
		position: absolute;
		right: -6px;
		top: 350%;
		background-color: $blue-darkest;
		width: 36px;
		height: 68px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		transition: all 0.2s ease;
		padding-right: 4px;
		border: 1px solid $brown;
		z-index: 15;

		&:hover {
			right: -3px;
		}

		svg path {
			fill: $white;
			transition: right 0.2s;
		}

		@media (max-width: 576px) {
			top: 140%;
			right: -6px;
			width: 28px;
			height: 58px;

			svg {
				width: 16px;
				height: 16px;
			}
		}
	}

	&__social-link {
		margin-top: 5px;
	}
}

.nav-hidden {
	transform: translateY(-100%);
}

.navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		z-index: 17;

		img {
			display: inline-block;
			max-width: 235px;
			max-height: 87px;
			margin: 4px 5px 0 0;
			height: 87px;
			transition: all 0.4s ease;
			object-fit: contain;
		}
	}

	.change-height-logo {
		height: 64px;
		width: auto;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 16;

		// mobile menu
		@media (max-width: 1300px) {
			position: absolute;
			background-color: $bg-mobile-nav;
			width: 115%;
			height: 100dvh;
			transform: translateX(30%);
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			gap: 40px;
			padding-top: 130px;
			transition: transform 0.38s cubic-bezier(0.25, 0.8, 0.25, 1);

			.menu-desktop-container {
				.menu {
					display: flex;
					flex-direction: column;
					gap: 22px;
				}

				.menu-item a {
					@include text-header;
					padding: 7px;
					color: $white;
					text-decoration: none;
					transition: all 0.15s ease;

					&:hover {
						color: $blue-dark;
					}
				}

				.sub-menu {
					display: none; // wyłączone w mobile
				}
			}
		}

		&.show-mobile-menu {
			transform: translateX(-6%);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.menu {
		list-style: none;
		display: flex;
	}

	@media (min-width: 1301px) {
		.menu-item {
			a {
				padding: 10px;
				text-decoration: none;
				color: $white;
				transition: all 0.3s ease;

				&:hover {
					color: $brown;
				}

				&:hover .sub-menu {
					display: flex;
				}
			}
		}

		.menu-item-has-children {
			position: relative;
			margin-right: 8px;

			// strzałka tylko dla linków pierwszego poziomu
			.custom-a-1 {
				&::after {
					content: '';
					position: absolute;
					right: -5px;
					bottom: -2px;
					display: inline-block;
					width: 12px;
					height: 24px;
					margin-left: 6px;
					background-repeat: no-repeat;
					background-size: contain;
					transform: rotate(90deg);
					transition: all 0.3s ease;
					transform-origin: center center;

					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='16' viewBox='0 0 12 24'><path fill='%23ffffff' fill-rule='evenodd' d='M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414'/></svg>");
				}

				&:hover::after {
					transform: rotate(270deg);
				}
			}

			.sub-menu {
				display: none;
				list-style: none;
				margin: 0;
				padding: 0;
			}

			&:hover > .sub-menu {
				display: flex;
				flex-direction: column;
				gap: 15px;
				position: absolute;
				top: 120%;
				left: 0;
				background-color: $blue-dark;
				min-width: 260px;
				padding: 14px 10px;
				border: 1px solid $white;
				border-radius: 8px;
			}
		}

		// nie pokazuj strzałek dla linków II poziomu
		.sub-menu .custom-a-1::after {
			display: none;
		}

		.custom-a-2 {
			padding: 2px 0;
		}
	}

	&__mobile-nav-social-icons {
		@media (min-width: 1301px) {
			display: none;
		}
		display: flex;
		gap: 15px;

		&-link {
			svg {
				width: 30px;
				height: 30px;

				path {
					fill: $white;
					transition: all 0.3s;

					&:hover {
						fill: $blue-dark;
					}
				}
			}
		}
	}
}

// .navigation {
// 	position: relative;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;

// 	&__logo {
// 		z-index: 17;

// 		img {
// 			display: inline-block;
// 			max-width: 235px;
// 			max-height: 87px;
// 			margin: 4px 5px 0 0;
// 			height: 87px;
// 			transition: all 0.4s ease;
// 		}
// 	}

// 	.change-height-logo {
// 		height: 64px;
// 		width: auto;
// 	}

// 	&__box {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 		z-index: 16;
// 	}

// 	// desktop menu
// 	.menu {
// 		list-style: none;
// 		display: flex;
// 	}

// 	@media (min-width: 1301px) {
// 		.menu-item {
// 			a {
// 				padding: 10px;
// 				text-decoration: none;
// 				color: $white;
// 				transition: all 0.3s ease;

// 				&:hover {
// 					color: $brown;
// 				}

// 				&:hover .sub-menu {
// 					display: flex;
// 				}
// 			}
// 		}

// 		.menu-item-has-children {
// 			position: relative;
// 			margin-right: 8px;

// 			// strzałka tylko dla linków pierwszego poziomu
// 			.custom-a-1 {
// 				&::after {
// 					content: '';
// 					position: absolute;
// 					right: -5px;
// 					bottom: -2px;
// 					display: inline-block;
// 					width: 12px;
// 					height: 24px;
// 					margin-left: 6px;
// 					background-repeat: no-repeat;
// 					background-size: contain;
// 					transform: rotate(90deg);
// 					transition: all 0.3s ease;
// 					transform-origin: center center;

// 					background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='16' viewBox='0 0 12 24'><path fill='%23ffffff' fill-rule='evenodd' d='M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414'/></svg>");
// 				}

// 				// obrót przy hoverze linku
// 				&:hover::after {
// 					transform: rotate(270deg);
// 				}
// 			}

// 			// obrót strzałki również gdy najedziemy na submenu
// 			&:hover > .sub-menu + .custom-a-1::after, // w razie gdy submenu nie jest bezpośrednim rodzeństwem
// 			&:hover > .custom-a-1::after {
// 				transform: rotate(270deg);
// 			}

// 			.sub-menu {
// 				display: none;
// 				list-style: none;
// 				margin: 0;
// 				padding: 0;
// 			}

// 			&:hover > .sub-menu {
// 				display: flex;
// 				flex-direction: column;
// 				position: absolute;
// 				gap: 15px;
// 				top: 120%;
// 				left: 0;
// 				background-color: $blue-dark;
// 				min-width: 260px;
// 				padding: 14px 10px;
// 				border: 1px solid $white;
// 				border-radius: 8px;
// 			}
// 		}

// 		.custom-a-2 {
// 			padding: 2px 0;
// 		}
// 	}

// 	// menu (nav) wysuwane w prawej stronu (pierwszego poziomu)
// 	&__box {
// 		@media (max-width: 1300px) {
// 			position: absolute;
// 			background-color: $bg-mobile-nav;
// 			width: 115%;
// 			height: 100vh;
// 			transform: translateX(30%);
// 			top: 0px;
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: flex-start;
// 			align-items: center;
// 			gap: 40px;
// 			padding: 130px 0 0 0;
// 			// transition: all .3s ease;
// 			// transition: transform .55s cubic-bezier(.25, .8, .25, 1);
// 			transition: transform 0.38s cubic-bezier(0.25, 0.8, 0.25, 1);

// 			.menu-desktop-container {
// 				.menu {
// 					display: flex;
// 					flex-direction: column;
// 					gap: 22px;
// 				}

// 				.menu-item a {
// 					@include text-header;
// 					padding: 7px;
// 					text-decoration: none;
// 					color: $white;
// 					transition: all 0.15s ease;

// 					&:hover {
// 						color: $blue-dark;
// 					}
// 				}

// 				.sub-menu {
// 					// wylaczone submenu w nav mobile
// 					display: none;
// 				}
// 			}
// 		}
// 	}

// 	.show-mobile-menu {
// 		transform: translateX(-6%);
// 		top: 0px;
// 		left: 0px;
// 		right: 0px;
// 		bottom: 0px;
// 	}

// 	&__mobile-nav-social-icons {
// 		@media (min-width: 1300px) {
// 			display: none;
// 		}
// 		display: flex;
// 		gap: 15px;
// 	}

// 	&__mobile-nav-social-icons-link {
// 		svg {
// 			width: 30px;
// 			height: 30px;

// 			path {
// 				fill: $white;
// 				transition: all 0.3s;

// 				&:hover {
// 					fill: $blue-dark;
// 				}
// 			}
// 		}
// 	}
// }

//burger btn:
.burger-btn {
	position: relative;
	width: 30px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 20;
	display: none;

	@media (max-width: 1300px) {
		display: flex;
	}
}

.burger-btn span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: $white;
	border-radius: 1px;
	transition: all 0.2s ease;
}

.burger-btn span:nth-child(1) {
	top: 0;
}
.burger-btn span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}
.burger-btn span:nth-child(3) {
	bottom: 0;
}

.burger-btn.active span:nth-child(1) {
	// background-color: $black;
	transform: rotate(45deg);
	top: 50%;
	left: 0;
}
.burger-btn.active span:nth-child(2) {
	opacity: 0;
}
.burger-btn.active span:nth-child(3) {
	// background-color: $black;
	transform: rotate(-45deg);
	top: 50%;
	left: 0;
}
