@use '../colors' as *;
@use '../mixins' as *;

// podkreslenie aktywnej strony w menu
// .current_page_item,
// .current_page_ancestor {
// 	position: relative;
// }

.nav {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 100%;
	height: 98px;
	background: #ffffff;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.8) 23%,
		rgba(69, 123, 167, 0.75) 31%,
		rgba(69, 123, 167, 0.95) 70%
	);
	box-shadow: 0 1px 5px -3px #000;

	&__social-box {
		position: absolute;
		right: -4px;
		top: 350%;
		background-color: $blue-darkest;
		width: 36px;
		height: 68px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		transition: all 0.2s ease;
		padding-right: 4px;
		border: 1px solid $brown;

		&:hover {
			right: -1px;
		}

		svg path {
			fill: $white;
			transition: right 0.2s;

			&:hover {
				fill: $brown;
			}
		}

		@media (max-width: 576px) {
			top: 140%;
			right: -5px;
			width: 28px;
			height: 58px;

			svg {
				width: 16px;
				height: 16px;
			}

			&:hover {
				right: -5px;
			}
		}
	}

	&__social-link {
		margin-top: 5px;
	}
}

.nav-desktop {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		.menu {
			display: flex;
			align-items: center;
			flex-direction: row;
		}
	}

	&__logo {
		img {
			max-width: 235px;
			max-height: 87px;
			margin: 4px 5px 0 0;
		}
	}
}

.menu-glowne-container {
	display: flex;
	justify-content: center;
	align-items: center;

	.menu {
		list-style: none;
		width: 100%;
		display: flex;
		flex-direction: row;

		.menu-item a {
			display: flex;
			padding: 10px;
			text-align: center;
			color: $white;
			text-decoration: none;
			transition: all 0.3s ease;
		}

		.menu-item a:hover {
			color: $brown;
		}
	}

	.sub-menu {
		list-style: none;
		display: none;
	}
}

.vector-curve-bottom-header-desktop {
	width: 100%;
	position: absolute;
	bottom: -35px;

	@media (max-width: 1070px) {
		height: 65px;
		width: 100%;
		bottom: -30px;
	}
}
